<template>
  <div>
    <v-row class="ma-0">
      <v-col cols="12" class="text-center text-title px-0">New Task</v-col>
      <v-col cols="12" class="pb-0">
        <v-text-field
          outlined
          dense
          placeholder="Add new task"
          :error-messages="titleError"
          @input="titleError = []"
          v-model="title"
        ></v-text-field>
      </v-col>
      <v-col cols="12" class="py-0">
        <span class="title-input">Description</span>
        <v-textarea outlined dense v-model="description"></v-textarea>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <span class="title-input">Due Date</span>
        <v-text-field
          outlined
          dense
          type="date"
          @input="dateError = []"
          v-model="dueDate"
          :error-messages="dateError"
        ></v-text-field>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <span class="title-input">Piority</span>
        <v-select
          outlined
          dense
          v-model="piority"
          :items="listPiority"
        ></v-select>
      </v-col>
      <v-col cols="12">
        <v-btn
          depressed
          class="primary text-none"
          block
          :loading="loadingInsert"
          @click="checkInsert"
          >Add</v-btn
        >
      </v-col>
    </v-row>
  </div>
</template>
<script>
import moment from 'moment'
export default {
  data() {
    return {
      title: null,
      description: null,
      dueDate: moment().format('YYYY-MM-DD'),
      piority: 'Normal',
      listPiority: ['Low', 'Normal', 'High'],
      titleError: [],
      dateError: [],
      loadingInsert: false,
    }
  },
  methods: {
    insert() {
      let data = {
        id: Math.random(),
        title: this.title,
        nameTask: this.title,
        description: this.description,
        dueDate: this.dueDate,
        piority: this.piority,
      }

      this.loadingInsert = true
      setTimeout(async () => {
        await this.$store.dispatch('todoList/insetItem', data)
        this.clear()
        this.loadingInsert = false

        this.$emit('Success', [true, 'Insert success'])
        setTimeout(() => {
          this.$emit('Success', false)
        }, 2000)
      }, 1000)
    },

    checkInsert() {
      let isError = false
      if (!this.title || (this.title && this.title.trim().length === 0)) {
        this.titleError = ['Vui lòng nhập tiêu đề công việc']
        isError = true
      }
      if (
        moment().format('YYYY-MM-DD') !== this.dueDate &&
        moment().isAfter(this.dueDate)
      ) {
        this.dateError = ['Ngày đến hạn phải nhỏ hơn ngày hiện tại']
        isError = true
      }
      if (!isError) {
        this.insert()
      }
    },

    clear() {
      this.title = null
      this.description = null
      this.dueDate = moment().format('YYYY-MM-DD')
      this.piority = 'Normal'
    },
  },
}
</script>