<template>
  <v-app dark>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {}
  },
  mounted() {
    if (!localStorage.getItem('myData')) {
      let data = [
        {
          id: 1,
          title: 'Do homework',
          nameTask: 'Do homework',
          description: 'Lorem ipsum',
          dueDate: '2022-05-27',
          piority: 'Normal',
          titleError: [],
          dateError: [],
        },
        {
          id: 2,
          title: 'Do housework',
          nameTask: 'Do housework',
          description: 'Lorem ipsum',
          dueDate: '2022-05-25',
          piority: 'Low',
          titleError: [],
          dateError: [],
        },
        {
          id: 3,
          title: 'Learn something',
          nameTask: 'Learn something',
          description: 'Lorem ipsum',
          dueDate: '2022-05-26',
          piority: 'High',
          titleError: [],
          dateError: [],
        },
      ]
      localStorage.setItem('myData', JSON.stringify(data))
    }
    this.$store.commit('todoList/setListData', localStorage.getItem('myData'))
  },
}
</script>
