<template>
  <div class="pt-8">
    <v-row class="ma-0">
      <v-col cols="12" sm="5">
        <v-card class="container">
          <Insert @Success="Success($event)"></Insert>
        </v-card>
      </v-col>
      <v-col cols="12" sm="7">
        <v-card class="container px-0 pb-0">
          <ListItem @Success="Success($event)"></ListItem>
        </v-card>
      </v-col>
    </v-row>
    <v-alert dense v-show="isSuccess" type="success" class="alert">
      {{ meseageSucces }}
    </v-alert>
  </div>
</template>

<script>
import Insert from '~/components/todo_list/Insert.vue'
import ListItem from '~/components/todo_list/item/ListItem.vue'

export default {
  components: {
    Insert,
    ListItem,
  },
  data() {
    return {
      isSuccess: false,
      meseageSucces: null,
    }
  },
  methods: {
    Success(value) {
      this.isSuccess = value[0]
      this.meseageSucces = value[1]
      setTimeout(() => {
        this.isSuccess = false
      }, 2000)
    },
  },
}
</script>
<style >
.text-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.title-input {
  font-weight: 500;
}
.boder-item {
  border: 1px solid grey;
}
.name-task {
  color: black;
  font-size: 1.2rem;
}
.alert {
  max-width: 379px;
  position: absolute;
  top: 8px;
  right: 0;
}
.fs-16 {
  font-size: 16px !important;
}
.bg-actions {
  background: #e5e5e5;
}
</style>
