<template>
  <div>
    <v-row class="ma-0 px-4">
      <v-col cols="12" class="text-center text-title">Todo List</v-col>
      <v-col
        cols="12"
        class="px-0"
        v-for="(item, index) in listData"
        :key="index"
      >
        <div class="boder-item">
          <div class="d-flex align-center">
            <v-checkbox
              class="ml-2"
              @change="changeCheckbox(item)"
              :input-value="getValue(item)"
            >
              <template #label>
                <div class="name-task">{{ item.nameTask }}</div>
              </template>
            </v-checkbox>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              class="primary text-none"
              color="mx-2"
              small
              @click="showDetail(item.id)"
              >Detail</v-btn
            >
            <v-btn
              depressed
              class="error text-none"
              color="mx-2"
              small
              @click="deleteARecord(item.id)"
              >Remove</v-btn
            >
          </div>
          <v-divider v-show="itemShow === item.id" color="black"></v-divider>
          <UpdateItem
            v-show="itemShow === item.id"
            :item="item"
            @Success="$emit('Success', $event)"
          ></UpdateItem>
        </div>
      </v-col>
    </v-row>
    <v-row class="ma-0 bg-actions" v-show="listSelectItem.length > 0">
      <v-spacer></v-spacer>
      <v-col class="col-auto">
        <v-btn class="primary text-none px-10 fs-16" depressed>Done</v-btn>
      </v-col>
      <v-col class="col-auto">
        <v-btn
          class="error text-none px-10 fs-16"
          depressed
          @click="RemnoveAll"
          :loading="loadingRemoveAll"
          >Remove</v-btn
        >
      </v-col>
    </v-row>
  </div>
</template>
<script>
import moment from 'moment'
import UpdateItem from './UpdateItem.vue'
export default {
  components: {
    UpdateItem,
  },
  data() {
    return {
      itemShow: null,
      loadingUpdate: false,

      listPiority: ['Low', 'Normal', 'High'],
      listSelectItem: [],
      loadingRemoveAll: false,
    }
  },
  computed: {
    listData: {
      get() {
        return this.$store.state.todoList.listData.length > 0
          ? JSON.parse(
              JSON.stringify(this.$store.state.todoList.listData)
            ).sort(
              (a, b) => moment(a.dueDate).unix() - moment(b.dueDate).unix()
            )
          : []
      },
      set(value) {},
    },
  },
  methods: {
    getValue(value) {
      return this.listSelectItem.includes(value.id)
    },
    changeCheckbox(item) {
      if (this.listSelectItem.length === 0) {
        this.listSelectItem.push(item.id)
      } else {
        if (this.listSelectItem.includes(item.id)) {
          let index = this.listSelectItem.findIndex((e) => e == item.id)
          this.listSelectItem.splice(index, 1)
        } else {
          this.listSelectItem.push(item.id)
        }
      }
    },

    RemnoveAll() {
      this.loadingRemoveAll = true
      setTimeout(async () => {
        await this.$store.dispatch(
          'todoList/removeAllRecord',
          this.listSelectItem
        )
        this.loadingRemoveAll = false
        this.$emit('Success', [true, 'Delete All success'])
        this.listSelectItem = []
        setTimeout(() => {
          this.isSuccess = false
        }, 2000)
      }, 1000)
    },

    deleteARecord(id) {
      setTimeout(async () => {
        await this.$store.commit('todoList/deleteARecord', id)
        this.$emit('Success', [true, 'Delete Item success'])
        this.listSelectItem = []
        setTimeout(() => {
          this.isSuccess = false
        }, 2000)
      }, 1000)
    },

    showDetail(id) {
      this.itemShow = id
    },
  },
}
</script>