<template>
  <v-row class="ma-0 pt-2">
    <v-col cols="12" class="pb-0">
      <v-text-field
        outlined
        dense
        placeholder="Add new task"
        :error-messages="item.titleError"
        @input="item.titleError = []"
        v-model="item.title"
      ></v-text-field>
    </v-col>
    <v-col cols="12" class="py-0">
      <span class="title-input">Description</span>
      <v-textarea outlined dense v-model="item.description"></v-textarea>
    </v-col>
    <v-col cols="12" lg="6" class="py-0">
      <span class="title-input">Due Date</span>
      <v-text-field
        outlined
        dense
        type="date"
        @input="item.dateError = []"
        v-model="item.dueDate"
        :error-messages="item.dateError"
      ></v-text-field>
    </v-col>
    <v-col cols="12" lg="6" class="py-0">
      <span class="title-input">Piority</span>
      <v-select
        outlined
        dense
        v-model="item.piority"
        :items="listPiority"
      ></v-select>
    </v-col>
    <v-col cols="12">
      <v-btn
        depressed
        class="primary text-none"
        block
        :loading="loadingUpdate"
        @click="checkUpdateItem(item)"
        >Update</v-btn
      >
    </v-col>
  </v-row>
</template>
<script>
import moment from 'moment'
export default {
  props: {
    item: {
      type: Object,
    },
  },
  data() {
    return {
      loadingUpdate: false,
      listPiority: ['Low', 'Normal', 'High'],
    }
  },

  methods: {
    checkUpdateItem(item) {
      let isError = false
      if (!item.title || (item.title && item.title.trim().length === 0)) {
        item.titleError = ['Vui lòng nhập tiêu đề công việc']
        isError = true
      }
      if (
        moment().format('YYYY-MM-DD') !== item.dueDate &&
        moment().isAfter(item.dueDate)
      ) {
        item.dateError = ['Ngày đến hạn phải nhỏ hơn ngày hiện tại']
        isError = true
      }
      if (!isError) {
        this.udpateItem(item)
      }
    },

    udpateItem(item) {
      this.loadingUpdate = true
      setTimeout(async () => {
        await this.$store.dispatch('todoList/udpateItem', item)
        this.loadingUpdate = false

        this.$emit('Success', [true, 'Update success'])

        setTimeout(() => {
          this.isSuccess = false
        }, 2000)
      }, 1000)
    },
    showDetail(id) {
      this.itemShow = id
    },
  },
}
</script>